@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids');

table {
	border-spacing: 4px;
}

#btnLogout {
	float: right;
	margin-top: 18px;
}

.logo {
	margin: 1px;
	display: inline-block;
	color: white;
	font-size: 45px;
	font-family: 'Butterfly Kids', cursive;
}

.headerCont {
	margin-bottom: 40px;
	box-shadow: 0px 0px 10px 0px;
	background: #7C3069; /* Old browsers */
	background: -moz-linear-gradient(top, #995f8b 0%, #5c0b48 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #995f8b 0%,#5c0b48 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #995f8b 0%,#5c0b48 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.visina100 {
	min-height: 100px;
}

.visina150 {
	min-height: 150px;
}

.visina200 {
	min-height: 200px;
}

.visina60 {
	min-height: 60px;
}

.titleKartice {
	font-size: 22px;
	margin-left: 5px;
	color: white;
}

.hederKartice {
	border-bottom: 2px dotted #7C3069;
}

.zatvoriKarticu {
	float: right;
	margin-right: 5px;
	color: white;
	padding: 5px;
}

.zatvoriKarticu:hover {
	cursor: pointer;
	color: black;
}

.kartica {
	background-color: #B88BAD;
	border-left: 4px solid #7C3069;
	box-shadow: 0px 0px 10px 0px;
	margin-bottom: 25px;
}

.flotujDesno {
	float: right;
}

.propName {
	float: right;
	font-weight: bold;
}

#btnProfilEdit {
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
}

#btnProfilSacuvaj {
	display: none;
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
}

.dugme {
	padding: 4px 10px;
	border: none;
	margin: 5px;
	border-radius: 5px;
	background-color: white;
	color: purple;
}

.dugme:hover {
	cursor: pointer;
	background-color: #ddd;
}

@media only screen and (max-width: 833px) {
	.logo {
		margin-left: 30px;
	}
	
	#btnLogout {
		margin-right: 30px;
	}
}