.mainHeaderContainer {
	text-align: center;
}

.logo {
	display: inline-block;
	padding: 20px 0;
	font-size: 27px;
	background-color: #7C3069;
	border-radius: 10px;
	color: white;
	margin-bottom: 10px;
}

.header-container {
	margin-top: 150px;
}

.main {
	text-align: center;
}

#loginButton, #registerButton {
	margin-top: 15px;
	padding: 5px 15px;
	border-radius: 8px;
	font-size: 15px;
	border: none;
}

#loginButton:hover, #registerButton:hover {
	cursor: pointer;
	background-color: #995F8B;
	color: white;
}

#openRegistartionForm, #openLoginForm {
	display: inline-block;
	margin-top: 12px;
	font-size: 14px;
	margin-bottom: 5px;
}

#openRegistartionForm:hover, #openLoginForm:hover {
	cursor: pointer;
	color: #B88BAD;
	text-decoration: underline;
}

.usernameContainer {
	margin-top: 15px;
}

.passwordContainer {
	margin-top: 10px;
}

.loginFormContainer, .registerFormContainer {
	border-radius: 10px;
	background-color: #7C3069;
	color: white;
}

.tejblRegister {
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 10px;
	color: white;
	border-spacing: 8px;
}

.tejblRegister select {
	width: 100%;
}

@media only screen and (max-width: 1350px) {
	.main, .mainHeaderContainer, .loginFormContainer, .logo, .registerFormContainer {
		width: 80%;
	}
	
	.spacer {
		width: 10%;
	}
}

@media only screen and (max-width: 833px) {
	.spacer {
		display: none;
	}
}